.app-container {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #e7d1d1;
    padding: 10px;
    color: white;
  }
 .header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  
  .logo-container {
    flex: 1; /* Push the logo to the left */
  }
  .logo {
   
    width: 30px;  
    height: auto;
  }
 
  .middle {
    margin: 20px;
    color:#d82828;

  }
  
  .image-container img {
    margin: 10px;
  }
  
  .about-text{
    color:#d82828;
  }
  .contact-text{
    color:#d82828;
  }
  .footer {
    background-color: #e7d1d1;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .links li a {
    text-decoration: none;
    color: #d82828;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  .login-about{
    color:#d82828;
  }
/* Style the Login Button */
.login-button {
  background-color: #d82828;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #e65c00;
}
