@page
@model RazorPageApplication.Pages.AboutUsModel
@{
}
<h1>WHAT DRIVES US</h1>
<ul style="list-style-type:square;">
	<li>Being Respectful</li>
	<li>Being Responsive</li>
	<li>
		Always Communicating</li>

	<li>	Demonstrating Stewardship</li>

		<li>Building Trust
	</li>
</ul>
<p><a href="https://www.wipro.com/about-us/"> For more information</p></a>