@page
@model RazorPageApplication.Pages.ContactUsModel
@{
}
<h1>Contact Us</h1>

<div class="contact-info">
	<h2>Wipro Limited</h2>
	<p>
		Doddakannelli, Sarjapur Road<br>
		Bengaluru - 560 035, India
	</p>

	<p>
		<strong>Phone:</strong> +91 (80) 46827999, +91 (80) 61427999, +91 (80) 46726000<br>
		<strong>Fax:</strong> +91 (80) 28440254
	</p>
</div>

	<a href="https://www.wipro.com/locations/">Check our Locations</a>
</p>
