@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to Wipro</b></h1>
    <p>Innovating for a better future .</p>
    <img src="/Images/logo.jpg" alt="logo" style="width: 150px; height: auto;" />

   
    
</div>
<h1>Our Mission</h1>
<br />
<p>We at Wipro, are committed to provide cutting edge technology solutions.</p>
<p>
    Wipro leverages advanced technologies and deep domain knowledge to help clients drive business transformation and build resilient, next-generation operating models. <br />
    <br />
    The practice provides strategy consulting for financial services, energy, utilities, healthcare and life sciences, sustainability, talent management and change, <br />
    CIO advisory and consumer businesses. Here is some of the latest thinking from<strong> Wipro Consulting, Fullstride Cloud, Engineering Edge, Lab45, Designit and Capco.</strong>

</p>

