@page
@model RazorPageApplication.Pages.ServicesModel
@{
}
<h1>Our Services</h1>
<ul style="list-style-type:square;">
    <li>Applications</li>
    <li>Artificial Intelligence</li>
    <li>Business Process</li>
    <li>Cloud</li>
    <li>Consulting</li>
    <li>Cybersecurity</li>
    <li>Data &amp; Analytics</li>
    <li>Digital Experiences</li>
    <li>Engineering</li>
    <li>Sustainability</li>
</ul>
<p>
	Thank you for your interest in Wipro’s services.
    
	<a href="https://www.wipro.com/consulting/">For additional information.</a>
</p>
